{extend name="base" /}
{block name="css"}
<link href="/webuploader/webuploader.css" rel="stylesheet" type="text/css" />
{/block}
{block name="main"}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>

            <small>后台模板</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
            <li class="active">车辆管理</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box-body">
            <div class="form-group" style="padding: 20px">
                <label class="col-sm-1 control-label">押车类型：</label>
                <div class="col-sm-11">
                    <label><input name="Fruit" type="radio" value=""  checked="checked"/>质押 </label>
                    <label><input name="Fruit" type="radio" value="" />抵押 </label>
                </div>
            </div>
            <h3 style="text-align: left"><font color="blue"> 借款人信息</font></h3>
            <div class="form-group" style="padding: 20px">
                <label class="col-sm-1 control-label">所属分部：</label>
                <div class="col-sm-1">
                    <select class="form-control">
                        <option>全部</option>
                        <option>天津</option>
                        <option>呼和浩特</option>
                    </select>
                </div>
            </div>
            <div class="form-group" style="padding: 20px">
                <label  class="col-sm-1 control-label">借款人姓名：</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="请输入借款人姓名">
                </div>
                <label  class="col-sm-1 control-label" style="text-align: right">姓名备注：</label>
                <div class="col-sm-2">
                <input type="email" class="form-control" placeholder="是否为车主">
                </div>
            </div>
            <div class="form-group" style="padding: 20px">
                <label  class="col-sm-1 control-label">身份证号：</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" placeholder="请输入身份证号">
                </div>
                <label  class="col-sm-1 control-label" style="text-align: right">手机号：</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" placeholder="请输入手机号">
                </div>
            </div>
            <h3 style="text-align: left;padding:40px 0"><font color="blue">车辆信息</font></h3>
            <div class="form-group" style="padding: 20px">
                <label  class="col-sm-1 control-label">车辆型号：</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" placeholder="请输入车辆型号">
                </div>
                <label  class="col-sm-1 control-label" style="text-align: right">车辆备注：</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" placeholder="是否有大本、为二押等情况">
                </div>

            </div>
            <div class="form-group" style="padding: 20px">
                <label  class="col-sm-1 control-label">车牌号：</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" placeholder="请输入车牌号">
                </div>
                <label  class="col-sm-1 control-label" style="text-align: right">上牌日期：</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" placeholder="请输入车辆备注">
                </div>
            </div>
            <h3 style="text-align: left;padding:40px 0"><font color="blue">借款信息</font></h3>
            <div class="form-group" style="padding: 20px">
                <label  class="col-sm-1 control-label" >收款人：</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" placeholder="默认同步借款人姓名">
                </div>
                <label  class="col-sm-1 control-label" style="text-align: right">借款金额：</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" placeholder="请输入借款金额">
                </div>
            </div>
            <div class="form-group" style="padding: 20px">
                <label  class="col-sm-1 control-label" >银行卡号：</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" placeholder="请输入银行卡号">
                </div>
                <label  class="col-sm-1 control-label" style="text-align: right">开户行：</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" placeholder="请输入开户行">
                </div>
            </div>
            <div class="form-group" style="padding: 20px">
                <label  class="col-sm-1 control-label" >违章押金：</label>
                <div class="col-sm-1">
                    <input type="email" class="form-control" placeholder="违章押金">
                </div>
                <label  class="col-sm-1 control-label" style="text-align: right">其他押金：</label>
                <div class="col-sm-1">
                    <input type="email" class="form-control" placeholder="其他押金">
                </div>
                <label  class="col-sm-1 control-label" style="text-align: right">垫资金额：</label>
                <div class="col-sm-1">
                    <input type="email" class="form-control" placeholder="垫资金额">
                </div>
            </div>
            <h3 style="text-align: left;padding:40px 0"><font color="blue">赎车信息</font></h3>
            <div class="form-group" style="padding: 20px">
                <label  class="col-sm-1 control-label" >赎车本金：</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" placeholder="请输入赎车本金">
                </div>
            </div>
            <div class="form-group" style="padding: 20px">
                <label  class="col-sm-1 control-label">转账贴图：</label>
                <div class="formControls col-sm-11">
                    <div class="uploader-list-container">
                        <div class="queueList">
                            <div id="dndArea" class="placeholder">
                                <div id="filePicker-2"></div>
                                <p>或将照片拖到这里，单次最多可选40张</p>
                            </div>
                        </div>
                        <div class="statusBar" style="display:none;">
                            <div class="progress"> <span class="text">0%</span> <span class="percentage"></span> </div>
                            <div class="info"></div>
                            <div class="btns">
                                <div id="filePicker2"></div>
                                <div class="uploadBtn">开始上传</div>
                            </div>
                        </div>
                    </div>
                    <p style="color:red;margin-top:10px;">*上传图片尺寸为640px*640px</p>
                </div>
            </div>
            <h3 style="text-align: left;padding:50px 0"><font color="blue">卖车信息</font></h3>
            <div class="form-group" style="padding: 20px">
                <label  class="col-sm-1 control-label">卖车本金：</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" placeholder="请输入卖车本金">
                </div>
                <label  class="col-sm-1 control-label" style="text-align: right">卖车利润：</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" placeholder="请输入卖车利润">
                </div>
            </div>
            <div class="form-group" style="padding: 20px">
                <label  class="col-sm-1 control-label">转账贴图：</label>
                <div class="formControls col-sm-11">
                    <div class="uploader-list-container">
                        <div class="queueList">
                            <div id="dndArea" class="placeholder">
                                <div id="filePicker-2"></div>
                                <p>或将照片拖到这里，单次最多可选40张</p>
                            </div>
                        </div>
                        <div class="statusBar" style="display:none;">
                            <div class="progress"> <span class="text">0%</span> <span class="percentage"></span> </div>
                            <div class="info"></div>
                            <div class="btns">
                                <div id="filePicker2"></div>
                                <div class="uploadBtn">开始上传</div>
                            </div>
                        </div>
                    </div>
                    <p style="color:red;margin-top:10px;">*上传图片尺寸为640px*640px</p>
                </div>
            </div>
        </div>
    </section>
</div>
{/block}
{block name='script'}
<script type="text/javascript" src="/webuploader/webuploader.min.js"></script>
<script>
    (function( $ ){
        // 当domReady的时候开始初始化
        $(function() {
            var $wrap = $('.uploader-list-container'),

                // 图片容器
                $queue = $( '<ul class="filelist"></ul>' )
                    .appendTo( $wrap.find( '.queueList' ) ),

                // 状态栏，包括进度和控制按钮
                $statusBar = $wrap.find( '.statusBar' ),

                // 文件总体选择信息。
                $info = $statusBar.find( '.info' ),

                // 上传按钮
                $upload = $wrap.find( '.uploadBtn' ),

                // 没选择文件之前的内容。
                $placeHolder = $wrap.find( '.placeholder' ),

                $progress = $statusBar.find( '.progress' ).hide(),

                // 添加的文件数量
                fileCount = 0,

                // 添加的文件总大小
                fileSize = 0,

                // 优化retina, 在retina下这个值是2
                ratio = window.devicePixelRatio || 1,

                // 缩略图大小
                thumbnailWidth = 110 * ratio,
                thumbnailHeight = 110 * ratio,

                // 可能有pedding, ready, uploading, confirm, done.
                state = 'pedding',

                // 所有文件的进度信息，key为file id
                percentages = {},
                // 判断浏览器是否支持图片的base64
                isSupportBase64 = ( function() {
                    var data = new Image();
                    var support = true;
                    data.onload = data.onerror = function() {
                        if( this.width != 1 || this.height != 1 ) {
                            support = false;
                        }
                    }
                    data.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
                    return support;
                } )(),

                // 检测是否已经安装flash，检测flash的版本
                flashVersion = ( function() {
                    var version;

                    try {
                        version = navigator.plugins[ 'Shockwave Flash' ];
                        version = version.description;
                    } catch ( ex ) {
                        try {
                            version = new ActiveXObject('ShockwaveFlash.ShockwaveFlash')
                                .GetVariable('$version');
                        } catch ( ex2 ) {
                            version = '0.0';
                        }
                    }
                    version = version.match( /\d+/g );
                    return parseFloat( version[ 0 ] + '.' + version[ 1 ], 10 );
                } )(),

                supportTransition = (function(){
                    var s = document.createElement('p').style,
                        r = 'transition' in s ||
                            'WebkitTransition' in s ||
                            'MozTransition' in s ||
                            'msTransition' in s ||
                            'OTransition' in s;
                    s = null;
                    return r;
                })(),

                // WebUploader实例
                uploader;

            if ( !WebUploader.Uploader.support('flash') && WebUploader.browser.ie ) {
                if (flashVersion) {
                    alert( '请更新flash插件！');
                } else {
                    alert( '请安装flash插件！');
                }
                return;
            } else if (!WebUploader.Uploader.support()) {
                alert( 'Web Uploader 不支持您的浏览器！');
                return;
            }

            // 实例化
            var uploader = WebUploader.create({
                pick: {
                    id: '#filePicker-2',
                    label: '点击选择图片'
                },
                formData: {
                },
                dnd: '#dndArea',
                paste: '#uploader',
                swf: '/webuploader/Uploader.swf',
                chunked: false,
                chunkSize: 512 * 1024,
                server: '{:\\think\\Url::build("Ueditor/upload")}',
                // runtimeOrder: 'flash',
                accept: {
                    title: 'Images',
                    extensions: 'jpeg,jpg,png,gif,bmp',
                    mimeTypes: 'image/jpeg,image/jpg,image/png,image/gif,image/bmp'
                },

                // 禁掉全局的拖拽功能。这样不会出现图片拖进页面的时候，把图片打开。
                disableGlobalDnd: true,
                fileNumLimit: 300,
                fileSizeLimit: 200 * 1024 * 1024,    // 200 M
                fileSingleSizeLimit: 50 * 1024 * 1024    // 50 M
            });

            // 拖拽时不接受 js, txt 文件。
            uploader.on( 'dndAccept', function( items ) {
                var denied = false,
                    len = items.length,
                    i = 0,
                    // 修改js类型
                    unAllowed = 'text/plain;application/javascript ';

                for ( ; i < len; i++ ) {
                    // 如果在列表里面
                    if ( ~unAllowed.indexOf( items[ i ].type ) ) {
                        denied = true;
                        break;
                    }
                }

                return !denied;
            });

            uploader.on('dialogOpen', function() {
                console.log('here');
            });
            // 添加“添加文件”的按钮，
            uploader.addButton({
                id: '#filePicker2',
                label: '继续添加'
            });

            uploader.on('ready', function() {
                window.uploader = uploader;
            });
            uploader.on('uploadSuccess', function(file,response) {
                if (typeof($imgUrl)=="undefined") {
                    $imgUrl = '&img='+response.url;
                }else{
                    $imgUrl = $imgUrl+','+response.url
                }
            });

            // 当有文件添加进来时执行，负责view的创建
            function addFile( file ) {
                var $li = $( '<li id="' + file.id + '">' +
                    '<p class="title">' + file.name + '</p>' +
                    '<p class="imgWrap"></p>'+
                    '<p class="progress"><span></span></p>' +
                    '</li>' ),

                    $btns = $('<div class="file-panel">' +
                        '<span class="cancel">删除</span>' +
                        '<span class="rotateRight">向右旋转</span>' +
                        '<span class="rotateLeft">向左旋转</span></div>').appendTo( $li ),
                    $prgress = $li.find('p.progress span'),
                    $wrap = $li.find( 'p.imgWrap' ),
                    $info = $('<p class="error"></p>'),

                    showError = function( code ) {
                        switch( code ) {
                            case 'exceed_size':
                                text = '文件大小超出';
                                break;

                            case 'interrupt':
                                text = '上传暂停';
                                break;

                            default:
                                text = '上传失败，请重试';
                                break;
                        }

                        $info.text( text ).appendTo( $li );
                    };

                if ( file.getStatus() === 'invalid' ) {
                    showError( file.statusText );
                } else {
                    // @todo lazyload
                    $wrap.text( '预览中' );
                    uploader.makeThumb( file, function( error, src ) {
                        var img;

                        if ( error ) {
                            $wrap.text( '不能预览' );
                            return;
                        }

                        if( isSupportBase64 ) {
                            img = $('<img src="'+src+'">');
                            $wrap.empty().append( img );
                        } else {
                            $.ajax('/webuploader/server/preview.php', {
                                method: 'POST',
                                data: src,
                                dataType:'json'
                            }).done(function(response) {
                                if (response.result) {
                                    img = $('<img src="'+response.result+'">');
                                    $wrap.empty().append( img );
                                } else {
                                    $wrap.text("预览出错");
                                }
                            });
                        }
                    }, thumbnailWidth, thumbnailHeight );

                    percentages[ file.id ] = [ file.size, 0 ];
                    file.rotation = 0;
                }
                file.on('statuschange', function( cur, prev ) {
                    if ( prev === 'progress' ) {
                        $prgress.hide().width(0);
                    } else if ( prev === 'queued' ) {
                        $li.off( 'mouseenter mouseleave' );
                        $btns.remove();
                    }

                    // 成功
                    if ( cur === 'error' || cur === 'invalid' ) {
                        console.log( file.statusText );
                        showError( file.statusText );
                        percentages[ file.id ][ 1 ] = 1;
                    } else if ( cur === 'interrupt' ) {
                        showError( 'interrupt' );
                    } else if ( cur === 'queued' ) {
                        percentages[ file.id ][ 1 ] = 0;
                    } else if ( cur === 'progress' ) {
                        $info.remove();
                        $prgress.css('display', 'block');
                    } else if ( cur === 'complete' ) {
                        $li.append( '<span class="success"></span>' );
                    }

                    $li.removeClass( 'state-' + prev ).addClass( 'state-' + cur );
                });

                $li.on( 'mouseenter', function() {
                    $btns.stop().animate({height: 30});
                });

                $li.on( 'mouseleave', function() {
                    $btns.stop().animate({height: 0});
                });

                $btns.on( 'click', 'span', function() {
                    var index = $(this).index(),
                        deg;

                    switch ( index ) {
                        case 0:
                            uploader.removeFile( file );
                            return;

                        case 1:
                            file.rotation += 90;
                            break;

                        case 2:
                            file.rotation -= 90;
                            break;
                    }

                    if ( supportTransition ) {
                        deg = 'rotate(' + file.rotation + 'deg)';
                        $wrap.css({
                            '-webkit-transform': deg,
                            '-mos-transform': deg,
                            '-o-transform': deg,
                            'transform': deg
                        });
                    } else {
                        $wrap.css( 'filter', 'progid:DXImageTransform.Microsoft.BasicImage(rotation='+ (~~((file.rotation/90)%4 + 4)%4) +')');
                    }


                });

                $li.appendTo( $queue );
            }

            // 负责view的销毁
            function removeFile( file ) {
                var $li = $('#'+file.id);

                delete percentages[ file.id ];
                updateTotalProgress();
                $li.off().find('.file-panel').off().end().remove();
            }

            function updateTotalProgress() {
                var loaded = 0,
                    total = 0,
                    spans = $progress.children(),
                    percent;

                $.each( percentages, function( k, v ) {
                    total += v[ 0 ];
                    loaded += v[ 0 ] * v[ 1 ];
                } );

                percent = total ? loaded / total : 0;


                spans.eq( 0 ).text( Math.round( percent * 100 ) + '%' );
                spans.eq( 1 ).css( 'width', Math.round( percent * 100 ) + '%' );
                updateStatus();
            }

            function updateStatus() {
                var text = '', stats;

                if ( state === 'ready' ) {
                    text = '选中' + fileCount + '张图片，共' +
                        WebUploader.formatSize( fileSize ) + '。';
                } else if ( state === 'confirm' ) {
                    stats = uploader.getStats();
                    if ( stats.uploadFailNum ) {
                        text = '已成功上传' + stats.successNum+ '张照片至XX相册，'+
                            stats.uploadFailNum + '张照片上传失败，<a class="retry" href="#">重新上传</a>失败图片或<a class="ignore" href="#">忽略</a>'
                    }

                } else {
                    stats = uploader.getStats();
                    text = '共' + fileCount + '张（' +
                        WebUploader.formatSize( fileSize )  +
                        '），已上传' + stats.successNum + '张';

                    if ( stats.uploadFailNum ) {
                        text += '，失败' + stats.uploadFailNum + '张';
                    }
                }

                $info.html( text );
            }

            function setState( val ) {
                var file, stats;
                if ( val === state ) {
                    return;
                }

                $upload.removeClass( 'state-' + state );
                $upload.addClass( 'state-' + val );
                state = val;

                switch ( state ) {
                    case 'pedding':
                        $placeHolder.removeClass( 'element-invisible' );
                        $queue.hide();
                        $statusBar.addClass( 'element-invisible' );
                        uploader.refresh();
                        break;

                    case 'ready':
                        $placeHolder.addClass( 'element-invisible' );
                        $( '#filePicker2' ).removeClass( 'element-invisible');
                        $queue.show();
                        $statusBar.removeClass('element-invisible');
                        uploader.refresh();
                        break;

                    case 'uploading':
                        $( '#filePicker2' ).addClass( 'element-invisible' );
                        $progress.show();
                        $upload.text( '暂停上传' );
                        break;

                    case 'paused':
                        $progress.show();
                        $upload.text( '继续上传' );
                        break;

                    case 'confirm':
                        $progress.hide();
                        $( '#filePicker2' ).removeClass( 'element-invisible' );
                        $upload.text( '开始上传' );

                        stats = uploader.getStats();
                        if ( stats.successNum && !stats.uploadFailNum ) {
                            setState( 'finish' );
                            return;
                        }
                        break;
                    case 'finish':
                        stats = uploader.getStats();
                        if ( stats.successNum ) {
                            alert( '上传成功' );
                        } else {
                            // 没有成功的图片，重设
                            state = 'done';
                            location.reload();
                        }
                        break;
                }

                updateStatus();
            }

            uploader.onUploadProgress = function( file, percentage ) {
                var $li = $('#'+file.id),
                    $percent = $li.find('.progress span');

                $percent.css( 'width', percentage * 100 + '%' );
                percentages[ file.id ][ 1 ] = percentage;
                updateTotalProgress();
            };

            uploader.onFileQueued = function( file ) {
                fileCount++;
                fileSize += file.size;

                if ( fileCount === 1 ) {
                    $placeHolder.addClass( 'element-invisible' );
                    $statusBar.show();
                }

                addFile( file );
                setState( 'ready' );
                updateTotalProgress();
            };

            uploader.onFileDequeued = function( file ) {
                fileCount--;
                fileSize -= file.size;

                if ( !fileCount ) {
                    setState( 'pedding' );
                }

                removeFile( file );
                updateTotalProgress();

            };

            uploader.on( 'all', function( type ) {
                var stats;
                switch( type ) {
                    case 'uploadFinished':
                        setState( 'confirm' );
                        break;

                    case 'startUpload':
                        setState( 'uploading' );
                        break;

                    case 'stopUpload':
                        setState( 'paused' );
                        break;

                }
            });

            uploader.onError = function( code ) {
                alert( 'Eroor: ' + code );
            };

            $upload.on('click', function() {
                if ( $(this).hasClass( 'disabled' ) ) {
                    return false;
                }

                if ( state === 'ready' ) {
                    uploader.upload();
                } else if ( state === 'paused' ) {
                    uploader.upload();
                } else if ( state === 'uploading' ) {
                    uploader.stop();
                }
            });

            $info.on( 'click', '.retry', function() {
                uploader.retry();
            } );

            $info.on( 'click', '.ignore', function() {
                alert( 'todo' );
            } );

            $upload.addClass( 'state-' + state );
            updateTotalProgress();
        });

    })( jQuery );

    $('.qh_ul>li').click(function(){
        var ind = $(this).index();
        $('.big_ul>li').hide();
        $('.big_ul>li').eq(ind).show();
    });
    function add_pics_item(spanobj){

        var theEvent = window.event || arguments.callee.caller.arguments[0];//event.target.id
        id = theEvent.target.id;
        $.get("{:url('/home/goods/spec_index/spec_id/"+id+"')}",function(result){
            if(result.status){
                var info = result.data;
                var picstr = $(spanobj).parent().parent().parent();
                var futr = picstr.clone();
                var sp = "<span class='"+info.spec_title+"' onclick='$(this).parent().parent().parent().remove()'>[-]"+info.spec_title+"：</span>";
                futr.find('span').remove();
                futr.find('div').append(sp);
                $('#'+info.spec_title+'')[0].appendChild(futr[0]);
            }
        })
    }


    console.log($('.view img').width());
    $('.view img').css('width','640px');
    //车辆状态
//    $(document).ready(function() {
//        $('input[type=radio][name=status]').change(function() {
//            if (this.value == '4') {
//                var str = "<input type='text' id='note' value='' placeholder='填写备注信息'>";
//                document.getElementById('other').innerHTML += str;
//            } else {
//                $("#note").remove();
//            }
//        });
//    });
</script>
{/block}