body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;list-style:none;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:14px;}
	
a{color:#5b86a6;text-decoration:underline;}
body{background-color:#f5f5f5; font-size:14px; color:#313131;}
img{border:0;}
input{font-size:14px; outline:none;}

.clear,.cl{clear:both;overflow:hidden;width:0;height:0;}
.main{overflow:hidden; width:100%;}
/*头部*/
.topdiv{width:100%; background-color:#FFF; height:107px;}
.topcenter{width:1201px; height:107px; margin:0 auto; padding-top:10px;}
.logodiv{float:left; margin-right:15px;}
.logospan{width:186px; height:97px; display:table-cell; vertical-align:middle;}
.topmenu{float:left; width:256px; height:97px; line-height:97px; text-align:center;}
.leftli{float:left;width:128px;}
.topmenu ul li a,.topmenu ul li a:hover,.topmenu ul li a:active,.topmenu ul li a:visited{color:#313131; font-family:"微软雅黑"; font-size:16px; text-decoration:none;}
.topmine{float:right; width:288px; height:97px; line-height:97px;}
.topheadpic{float:left; padding-right:10px;width:64px;}
.topminehead{height:97px; line-height:97px; display:table-cell; vertical-align:middle;}
.topminetext{line-height:20px;margin-top:30px; font-size:16px;}
.renzheng{font-size:50%; color:#FFF;background-color:#f59800;}
.topmineemail{height:97px; line-height:97px; display:table-cell; vertical-align:middle;}
.topexit{color:#999; text-decoration:none;}

/*中间*/
.contentdiv{width:1201px;  margin:0 auto;}
.bannertext{width:100%; height:56px; line-height:56px;}
/*左侧*/
.leftmenu{float:left; width:186px; height:800px; background-color:#FFF; margin-right:15px; color:#313131; }
.leftlink{padding:30px 28px;}
.leftlink ul{margin-bottom:15px; font-family:"微软雅黑";}
.leftlink ul li{margin-bottom:10px; text-align:center; line-height:37px; font-family:"微软雅黑";}
.leftlink ul li a,.leftlink ul li a:hover,.leftlink ul li a:active,.leftlink ul li a:visited{ color:#313131; text-decoration:none;}
.homelink{width:130px; height:37px; line-height:37px; background-color:#eb6100; border-radius: 4px; text-align:center; color:#ffffff; font-size:16px; }
.homelink a,.homelink a:hover,.homelink a:active,.homelink a:visited{color:#ffffff; text-decoration:none;}
.otherlink{width:130px; height:37px; line-height:37px; background-color:#ffffff; border: #959595 1px solid; border-radius: 4px; text-align:center; font-size:16px; }
.otherlink a,.otherlink a:hover,.otherlink a:active,.otherlink a:visited{color:#313131; text-decoration:none;}
/*右侧*/
.rightbody{float:right; width:1000px; height:auto; }
.rightpub{width:100%; background-color:#FFF; margin-bottom:20px;}
.rightmine{width:780px; height:174px; padding:45px 110px;}
.modmine{float:left; padding-left:10px; padding-top:30px; line-height:26px;}
.modmine a,.modmine a:hover,.modmine a:active,.modmine a:visited{color:#f39801; text-decoration:none;}
.rightquota{float:right; padding-top:30px; line-height:30px;}
.cashbtn{padding-top:5px;width:126px;height:35px; background-color:#f39801; font-size:18px; text-align:center; color:#FFF; border:0px;}

.rightketang{width:490px; padding:25px 255px 10px 255px;}
.kaike{width:160px; height:100px;line-height:100px;width:160px; background-color:#f39801; text-align:center;}
.kaike a,.kaike a:hover,.kaike a:active,.kaike a:visited{color:#FFF; text-decoration:none; font-size:18px;}
.ketang{width:160px; height:100px;line-height:100px;width:160px; background-color:#6ba9da; text-align:center;}
.ketang a,.ketang a:hover,.ketang a:active,.ketang a:visited{color:#FFF; text-decoration:none; font-size:18px;}
.rightlinkyew{height:48px; line-height:48px;text-align:center;}
.rightlinkyew a,rightlinkyew a:hover,rightlinkyew a:active,rightlinkyew a:visited{font-size:18px; color:#f49902; text-decoration:none;}
.rightlinktext{height:36px; line-height:36px;text-align:center;}
.rightlinktext ul li{ float:left; width:122px;}
/*.rightlinktext a,rightlinktext a:hover,rightlinktext a:active,rightlinktext a:visited{}*/

.newstext{height::40px; line-height:40px; padding-left:20px;}
.minetable{width:100%;border:1px #e8e8e8 solid; text-align:center; }
.minetable tr td{ text-align:center; height:40px; line-height:40px;}

/*我要开课 我的课堂*/
.rightwhite{width:1000px; background-color:#FFF;}
.rightcont{width:930px; padding:25px 35px;}
.righttitle{height:45px; line-height:45px; text-align:left; font-size:16px; font-family:'微软雅黑';}
.rightbanner{height:45px; line-height:45px;text-align:left; background-color:#f6f6f6; }
.margintenpx{margin-bottom:10px;}
.bannertitle{background-color:#0fd671; color:#FFF; width:155px; text-align:center;}
.bannertitlegray{width:155px; text-align:center;}
.bannertitlegray a,.bannertitlegray a:active,.bannertitlegray a:hover,.bannertitlegray a:visited{ text-decoration:none; color:#313131;}
.rightbanner ul li{float:left; list-style:none;}
.rightcontent{width:930px; margin-bottom:20px; border:1px #bfbfbf solid;}
.rightcontentdiv{width:870px; padding:30px 30px;}
.rightconttable{width:870px; border:0px; text-align:center;}
.rightconttable td{padding:0 10px;}
.tabletitle{height:45px; background-color:#f6f6f6;}
.tableblank{background-color:#fff;}
.tablelist{height:118px; background-color:#e4f6fa; line-height:30px; }
.tablelistitle{width:158px; height:78px;margin-left:20px; background-color:#fff; border:1px #bfbfbf solid;}
.tablelistin{width:100px; height:22px; line-height:22px; margin-bottom:10px}
.upcourseware{width:80px; height:26px; line-height:26px; background-color:#eb6100; font-size:12px; color:#FFF; border:0px #fff solid; margin-bottom:10px;}
.operate a,.operate a:active,.operate a:hover,.operate a:visited{ color:#313131; text-decoration:none;}
.publishbtn{width:60px; height:26px; line-height:26px; background-color:#09b954; color:#FFF; border:0px #fff solid;}
.morecourse{width:100%;padding-top:20px; padding-bottom:20px; text-align:center;}
.previousbtndiv{width:100%; text-align:center; padding-top:20px; padding-bottom:20px;}
.previousbtn{width:167px; height:42px; line-height:42px; background-color:#eb6100; color:#FFF; border:0px #fff solid;}

.coursediv{width:930px; margin-bottom:20px;}
.courseleft{float:left;width:190px; height:800px; border:1px #bfbfbf solid; background-color:#e4f6fa; margin-right:15px;}
.courseleftpad{padding:30px 28px; text-align:center;}
.courselink{width:130px; height:35px; line-height:35px; background-color:#ffffff; border: #959595 1px solid; border-radius: 4px; text-align:center; font-size:16px; font-size:16px; font-family:'微软雅黑'; margin-bottom:15px;}
.courselink a,.courselink a:hover,.courselink a:active,.courselink a:visited{color:#ffffff; text-decoration:none;}
.courselinksel{width:120px; height:30px; line-height:30px; background-color:#0aba55; border-radius: 4px; text-align:center; color:#ffffff; font-size:16px; margin-bottom:15px;}
.courselinksel a,.courselinksel a:hover,.courselinksel a:active,.courselinksel a:visited{color:#ffffff; text-decoration:none;}
.courseotherlink{width:120px; height:30px; line-height:30px; background-color:#ffffff; border: #959595 1px solid; border-radius: 4px; text-align:center; font-size:14px; margin-bottom:15px;}
.courseotherlink a,.courseotherlink a:hover,.courseotherlink a:active,.courseotherlink a:visited{color:#313131; text-decoration:none;}
.courselinkgray{width:120px; height:30px; line-height:30px; background-color:#d8d8d8; border: #959595 1px solid; border-radius: 4px; text-align:center; color:#313131; font-size:16px; margin-bottom:15px;}
.courselinkgray a,.courselinkgray a:hover,.courselinkgray a:active,.courselinkgray a:visited{color:#313131; text-decoration:none;}
.courselinkshort{width:90px; height:30px; line-height:30px; background-color:#fff; border: #959595 1px solid; border-radius: 4px; text-align:center; font-size:14px; margin-bottom:15px;}
.courselinkshort a,.courselinkshort a:hover,.courselinkshort a:active,.courselinkshort a:visited{color:#313131; text-decoration:none;}

.courseright{float:right;width:720px;border:0px #bfbfbf solid; background-color:#fff; }
.coursetable{width:100%;border:1px #e8e8e8 solid; text-align:left;}
.coursetable tr td{ text-align:left; line-height:30px; padding:15px;}
.coursetitle{font-size:18px; font-weight:bold;}
/*我要备课*/
.textfragments{float:left;width:116px; height:30px; line-height:30px; background-color:#ae5da0; border: #959595 1px solid; border-radius: 4px; text-align:center; font-size:16px; color:#fff; font-size:16px; font-family:'微软雅黑'; margin-right:30px;}
.textwriting{float:left;width:116px; height:30px; line-height:30px; background-color:#d8d8d8; border: #959595 1px solid; border-radius: 4px; text-align:center; font-size:16px; font-size:16px; font-family:'微软雅黑'; margin-right:30px;}
.textwriting a,.textwriting a:hover,.textwriting a:active,.textwriting a:visited{color:#313131; font-family:'微软雅黑';text-decoration:none;}
.methodsetbtn{width:116px; height:30px; line-height:30px; background-color:#4489ca; border: #959595 1px solid; border-radius: 4px; text-align:center; font-size:16px; color:#fff; font-size:16px; font-family:'微软雅黑'; margin-right:25px;}
.submitbtn{width:116px; height:30px; line-height:30px; background-color:#4489ca; border: #959595 1px solid; border-radius: 4px; text-align:center; font-size:16px; color:#fff; font-size:16px; font-family:'微软雅黑'; margin-right:25px;}


/*已完成课件*/
.courstabletd{height:30px; line-height:50px; border-bottom:1px #c3c3c3 solid;}
.courseware{width:158px;height:78px; padding-top:20px; line-height:26px; font-size:16px; font-family:'微软雅黑'; color:#fff; background-color:#ff9063;}

/*底层*/
.bottomblank{width:100%; height:60px; margin:10px;}
